{% extends 'store/base.html' %}
{%load custom_filters%}

{% block content %}
<div class="products container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">ePasal</h1>
      <p class="lead">
        Explore our online store for a curated selection of innovative and
        elegant products. Discover limitless choices, secure transactions, and
        convenient doorstep delivery today.
      </p>
      <form class="d-flex" role="search" method="get" action="/search">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </form>
      <hr class="my-4" />
    </div>

    <h4>
      Showing Result for {{query}}
    </h4>
    <div class="row">
      {%if products%} {%for product in products%}
      <div class="col-md-3">
        <a class="text-decoration-none text-black" href="/product/{{product.id}}">
        <div class="card  list-card m-1">
          <img
            style="height: 200px"
            src="{{product.product_image}}"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              {{product.product_name|truncatechars:15}}
            </h5>
            <p class="text-danger" style="margin-bottom: 0">
              {{product.product_price|currency}}
            </p>
            <small class="text-secondary"
              ><strike>{{ product.product_price|increase_ten_percentage|currency}}</strike></small>
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment%}
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        </a>
      </div>
      {%endfor%}
    </div>
    {%else%}
<p>Your search - shafgaksjhfklasjfklasj fasklfjasklfjaskljfklasjf kljasdfkljasklfjasdf - did not match any documents.</p>

<p>Suggestions:</p>
<ul>
<li>Make sure that all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
<li>Try fewer keywords.</li>
</ul>
    {%endif%}
  </div>
{% endblock content %}